<section class="footer">
  <% if(typeof(username) !== "undefined") { %>
    <p>Innskráður sem: <strong><%=username %></strong></p>
    <a class="logout" href="/admin/logout">Útskrá</a>
  <% } %>
  <a class="link" href="/">Til baka</a>
</section>
